{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e
source ${CHEZMOI_WORKING_TREE}/scripts/confirm.sh 

# Custom app icons

if [[ "yes" == $(confirm "Do you want to override app icons?") ]]; then
    mkdir -p /tmp/icons
    {{ range .icons -}}
        wget -nv {{ .url | quote }} -O "/tmp/icons/{{ .app }}.icns"
    {{ end -}}
    sudo ~/.local/bin/iconset folder /tmp/icons
fi

{{ end -}}
