#!/bin/bash

set -e

echo
echo "---"
echo "Configuring apps..."

# iTerm2

defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "~/.config/iterm"
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true

# Visual Studio Code

vscode_extensions=(
    {{ range .vscode.extensions -}}
    {{ . | quote }}
    {{ end -}}
)

vscode_installed_extensions=$(code --list-extensions)

for extension in ${vscode_extensions[@]}; do
    if echo "$vscode_installed_extensions" | grep -q "^$extension$"; then
        echo "Extension '$extension' is already installed."
    else
        echo "Installing extension '$extension'..."
        echo code --install-extension "$extension"
    fi
done
